include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile
include tox.ini


recursive-include tests *
recursive-include requirements *.txt
recursive-include docs *.rst conf.py Makefile make.bat


exclude .editorconfig
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
